body {
  background-color: white;
  color           : #5050ff;
  font-family     : verdana, arial, helvetica;
  font-size       : 13px;
}

.gusfoo {
  padding: 5px;
  width: 800px;
  border-radius: 5px;
  border: solid 1px #7f7f7f;
  background-color: #efefef;
}

.gusfoo_soft_box {
  background-color: #fefefe;
  padding: 3px;
  border: solid 1px;
  border-radius: 5px;
  margin-top: 2px;
}

#grid1 {
  background-color: #efefff;
  border-color: #7f7fff;
}

#grid1 .gusfoo_soft_box {
  border-color: #8f8fff;
}

#grid2 {
  background-color: #ffefef;
  border-color: #ff7f7f;
}

#grid2 .gusfoo_soft_box {
  border-color: #ff8f8f;
}

.gusfoo th {
  font-weight: bold;
  font-size       : 13px;
}
