body {
  background-color: #c0c0c0;
  color           : #5050ff;
  font-family     : verdana, arial, helvetica;
  font-size       : 13px;
}

#container {
  background-color: white;
  margin: 0 auto;
  width: 812px;
  height: 450px;
  padding: 5px;
  border: 1px solid #a0a0a0;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  -moz-box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.7);
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.7);
}

.gusfoo {
  padding: 5px;
  width: 800px;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  border: solid 1px #7f7f7f;
  background-color: #efefef;
}

.gusfoo_soft_box {
  background-color: #fefefe;
  padding: 3px;
  border: solid 1px;
  border-radius: 5px;
  margin-top: 2px;
}

#grid1 {
  background-color: #efefff;
  border-color: #7f7fff;
}

#grid1 .gusfoo_soft_box {
  border-color: #8f8fff;
}

#grid2 {
  background-color: #ffefef;
  border-color: #ff7f7f;
}

#grid2 .gusfoo_soft_box {
  border-color: #ff8f8f;
}

.gusfoo th {
  font-weight: bold;
  font-size       : 13px;
}

.gusfoo table {
  width: 100%;
}

.gusfoo div.editable_cell,  .gusfoo div.empty_cell{
  height: 25px;
  width: 47px;
  padding: 3px;
  text-align: right;
  font-size: x-small;
}

.gusfoo div.empty_cell {
  cursor: default;
}

.gusfoo div.editable_cell {
  cursor: pointer;
}

.gusfoo div.editable_cell:hover {
  background-color: aliceBlue;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}

#hidden {
  width: 400px;
  height: 300px;

  background-color: #fefefe;

  margin: 0 auto;
}

.ui-dialog {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  -moz-box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.7);
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.7);
}
